<section id="payeeManualConfirm" class="payments container">
<div class="billpay-view confirm-view">
	<div class="col-lg-2 column-sidenav"></div>
	<div class="col-lg-10 column-main">
		<div class="jpui form">
			{{#payeeManualConfirmForm}}
				<div class="row header">
					<section class="col-lg-8">
						{{> "steps" workFlowStep}}
						<div class="jpui confirm success"><i class="fa fa-check"></i>{{confirmModeInstruction}}&nbsp;<span id="payeeNicknametitle">{{payeeNicknametitle}}</span>.</div>
					</section>
				</div>
				<div class="row">
					<section class="col-lg-8">
						{{> "field" payeeName}}
						{{> "field" payeeNickname}}
						{{> "field" mailingAddressLine1}}
						{{#if mailingAddressLine2}}
						<dl class="jpui field">
							<dt>&nbsp;</dt>
							<dd class="data-field"><span>{{mailingAddressLine2}}</span></dd>
						</dl>
						{{/if}}
						<dl class="jpui field">
							<dt>&nbsp;</dt>
							<dd class="data-field"><span>{{mailingAddressLine3}}</span></dd>
						</dl>
						{{> "field" phoneNumber}}
						{{> "field" payeeAccountNumber}}
						{{> "field" deliveryMethod}}
						{{> "field" fundingAccountDisplayName}}
						{{> "field" payeeGroup}}
					</section>
				</div>
				<footer>
					<div class="actions">
						{{#actions}}
						{{> "button" this}}
						{{/actions}}
					</div>
				</footer>
			{{/payeeManualConfirmForm}}
		</div>
	</div>
</div>
</section>