<section id="paymentEnter" class="container">
<div class="billpay-view entry-view">
	<div class="col-lg-12 column-single">
		<div class="jpui form">
			{{#singlePaymentForm}}
				<div id="container-input">
					<div class="row">
						<div id="container-payee-name" class="col-lg-4">
							{{> "field" payeeName}}
						</div>
						<div id="container-funding-account-number" class="col-lg-4">
							{{> "field" fundingAccountNumber}}
						</div>
						<div class="col-lg-4">
							{{> "field" paymentAmount}}
						</div>
					</div>
					<div class="row">
						<div id="container-date-picker" class="col-lg-4 col-lg-offset-4">
							<div class="row">
								<div class="col-lg-6">
									{{> "field" sendPaymentOn}}
								</div>
								<div class="col-lg-6">
									{{> "field" deliverPaymentBy}}
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							{{> "field" memo}}
						</div>
					</div>
				</div>
				<footer>
				    {{> "menu" paymentLinks}}
					<div class="actions">
						{{#actions}}
							{{> "button" this}}
						{{/actions}}
					</div>
				</footer>
			{{/singlePaymentForm}}
		</div>
	</div>
</div>
</section>