<div class="homepage container" style="text-align: center;font-size: 0.8em;">
<section id="blank-panel">
{{#if footerComponent.title}}
    <span>{{footerComponent.title}}</span><br/>
{{/if}}
<span>&copy;2014 J.P. Morgan Chase</span>
</section>
</div>
