<div>
	<h4>{{account_overdraft_protection_title}}</h4>
	<ul>
		<li><div class="details item-label">{{account_display_name_label}}</div><span id="fundingAccount" class="details item-value"></span></li>
		<li><div class="details item-label">{{overdraft_protection_limit_label}}</div><span id="fundingLimit" class="details item-value"></span></li>
	</ul>
</div>
