<section id="widget-grid" class="clearfix">
    <!-- INNER CONTENT row - this gets substituted with the .html file from the query string -->
    <style type="text/css">
        body {
            background-color: #f3f0e9;
        }
    </style>
    <div id="inner-content">
        <section id="inner-content-container" class="container">

            <div id="accounts-list">
                <section id="accounts" class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></section>
            </div>
            <section class="transactions-container col-lg-8 col-md-8 col-sm-8 col-xs-12 rp-0">
                <div id="transactions">
                    <div id="details"></div>
                    <div id="activity-transactions"></div>
                </div>
            </section>
        </section>
    </div>
</section>
