<div>
	<div class="col-lg-12 action-bar">
		<div class="col-lg-9 no-grid-padding">
			<span>POSTED</span>
		</div>
		<div class="col-lg-3 aligned right no-grid-padding">
			<a href="#" class="toggle-view">Hide Details</a>
			<i class="fa print-icon fa-print"></i>
		</div>
	</div>
	<table class="jpui table show-detailed">
		<thead>
			<tr>
				<th>Date</th>
				<th><strong>Description</strong></th>
				<th class="amount">Amount</th>
				<th class="detailed">Escrow</th>
				<th class="detailed">Fees</th>
				<th class="detailed">Interest</th>
				<th class="detailed">Principal</th>
				<th class="amount">Balance</th>
			</tr>
		</thead>
		<tbody>
			{{#each item}}
				<tr>
					<td class="description">May 01, 2014</td>
					<td class="description">Payment</td>
					<td class="amount emphasized">$1,744.47</td>
					<td class="detailed">$325.00</td>
					<td class="detailed">$0.00</td>
					<td class="detailed">$1,129</td>
					<td class="detailed">$290.00</td>
					<td class="amount">$245,852.80</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
	<div class="aligned center">
		<a class="see-more" href="#">--See 25 More--</a>
	</div>
</div>