<div id="things-you-can-do" class="jpui fluid inverted dropdown simple">
	Things you can do<i class="fa right fa-angle-down"></i>
	<div class="menu">
		<div class="item"><a id="seeAccountDetails">See account details</a></div>
	</div>
</div>