<div class="col-xs-8">
        <div class="jpui active account details">
    <div class="row">
        <div class="col-xs-6">
            <h3 id="accountName">Amazon.com rewards card</h3>
            <h5 id="accountMask">(..1234}})</h5>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-offset-2 col-xs-10" id="frameForDropDown">
                <select id="" class="select" name="">
                    <option value="1">Things you can do</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" id="acct-summary-grid">
        <div class="col-xs-6" id="acct-summary-zone">
            <ul>
                <li>
                    <div class="details item-label">
                        Current balance
                    </div><span class="details item-value" >$700.00</span>
                </li>
                <li>
                    <div class="details item-label">
                        Available credit
                    </div><span class="details item-value">$9,300.00</span>
                </li>
                <li>
                    <div class="details item-label">
                        Minimum amount due
                    </div><span class="details item-value">$85.23</span>
                    <div>Due on May14, 2014</div>
                </li>
                <li>
                    <div class="details item-label">
                        Blueprint amount due
                    </div><span class="details item-value">$24.00</span>
                   
                </li>
            </ul>
        </div>
        
    </div>
</div>
</div>