<div class="col-lg-8">
    <div class="account-activity-container">
<div class=" col-lg-12 account-activity-header">
  <div class="col-lg-7">ACTIVITY SINCE LAST TIME<i class="fa fa-arrow-down"></i></div>
  <div class="col-lg-5 pull-right checkfilter">
    <i class="fa fa-print"></i>
    <i class="fa fa-search"></i>
    <span>Filter</span>
    <span class="vertical"></span>
    <i class="fa fa-search"></i>
    <span class="check">Find a check</span>
  </div>
 </div>
<table class="jpui grouped table rewards-table">
  <thead>
    <tr>
      <th >Posted<i class="fa fa-arrow-down"></i></th>
      <th >Description<i class="fa fa-arrow-down"></th>
      
      <th class="aligned right ">Amount<i class="fa fa-arrow-down"></th>
    </tr>
  </thead>
  <tbody>
    
      <tr class="no-bottom-border">
        <td class="">Mar 25, 2014</td>
        <td class="rewardsinfo">
          Vonage *Price+Taxes<!-- <span class="more-details"><a href="">Hide Details</a></span> -->
          <div class="">866-243-4357, NJ 077330000 US</div>
          <div class="subtitle"><span class=""><i class="fa fa-arrow-down"></i></span>Online, Mail, or Telephone transaction #1234567890</div>
          <div class="subtitle">Your transaction was posted on May 27, 2014</div>
          <div class="">
          <div class="">Rewards earned with this transaction<sup>1</sup></div>
                   
                    <div class="subtitle col-lg-7">
                        + 10% extra points per $1 you spend
                    </div><span class=" col-lg-2 subtitle rewardpoints" >0.21</span>
                
                    <div class="subtitle col-lg-7">
                        + Bonus 10 points on every purchase
                    </div><span class="col-lg-2 subtitle rewardpoints">10.00</span>
                
                    <div class="subtitle col-lg-7">
                        + 1% (1 pt)/$1 earned on all purchases
                    </div><span class="col-lg-2 subtitle rewardpoints">2.06</span>
                    
                
                    <div class="subtitle col-lg-7 total">
                        Total
                    </div><span class="col-lg-2 subtitle rewardpoints total">12.27 pts.</span>
                    
                </div>
                <span class="hide-details  col-lg-12"><i class="fa fa-arrow-up"></i><a href="">Hide Details</a></span>
                
            
          <!-- show class is used to show detailed-info -->
          
        </td>
        <td class="aligned right">
          $53212.12
        </td>
      </tr>
      <tr class="">
        <td class=""></td>
        <td class="dashed-top-border ">
          Bed Bath & Beyond #38<!-- <span class="more-details"><a href="">See Details</a></span> -->
          <span class="subtitle">Your transaction has post within the 3 days</span>
          <span class="see-details"><i class="fa fa-arrow-right"></i><a href="">See details</a></span>
        </td>
        <td class="aligned right dashed-top-border col-lg-2">
          $55.66
        </td>
      </tr>
      <tr>
        <td class="">May 18, 2014</td>
        <td class="">
          CVS #10035 
          <span class="subtitle">Your transaction was made on May 17, 2014</span>
          <span class="see-details"><i class="fa fa-arrow-right"></i><a href="">See details</a></span>
        </td>
        <!-- unavailable is the class name when service returns null value -->
        <td class=" aligned right">
          $304.95

        </td>
        
      </tr>
  </tbody>
</table>
</div>
</div>