<div class="system-unavailable col-xs-12">

                        <span class="notif-icon notif-alert">
                            <i class="fa fa-exclamation-circle"></i>
                        </span> 
                        <div class="alert-note"><h3>System Unavailable</h3>
                        <p>We're unable to process your request.  </p>
                            <p>Please call Customer Service at 1-800-848-9136
                        </p></div>
            </div>