<section id="widget-grid" class="clearfix">
<!-- INNER CONTENT row - this gets substituted with the .html file from the query string -->
<div id="inner-content">
<div id="pay-bills" class="inner-container open">
    <!-- PAY BILLS -->
    <div class="pay-bills--wrapper col-lg-12 lp-0">
        <div class="pay-bills--content" style="height: 349px;">
        <section class="payment-title visible-xs">
        Send money
        <button type="button" class="close close-x" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
    </section>

     <section class="payment-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="payment-label">
                    Pay to
                </div>
                <div class="wrapper-dropdown select">
                    <span class="initial pay-to">Select account</span>
                    <i class="fa fa-angle-down"></i>
                    <ul class="dropdown">
                        <li data-value="Chase Sapphire">
                            <a href="#">
                                <div class="col-lg-8 "><span class="full-value">Case Sapphire Preferred</span> (8800)</div>
                                <div class="col-lg-4 text-align-right">$ 2,500.00</div>
                            </a>
                        </li>
                        <li data-value="Chase Home Loan">
                            <a href="#">
                                <div class="col-lg-8 "><span class="full-value">Chase Home Loan</span> (6473)</div>
                                <div class="col-lg-4 text-align-right">$ 980,000.00</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="payment-label">
                    Pay from
                </div>
                <div class="wrapper-dropdown select">
                    <span class="initial pay-from">Select account</span>
                    <i class="fa fa-angle-down"></i>
                    <ul class="dropdown">
                        <li data-value="Chase Premier Chk Plus">
                            <a href="#">
                                <div class="col-lg-8 full-value">Chase Premier Checking Plus (8800)</div>
                                <div class="col-lg-4 text-align-right">$ 1,240.23</div>                     
                            </a>
                        </li>
                        <li data-value="Chase Svgs Plus">
                            <a href="#">
                                <div class="col-lg-8 full-value">Chase Savings Plus (5784)</div>
                                <div class="col-lg-4 text-align-right">$ 2,420.56</div>                     
                            </a>
                        </li>
                        <li data-value="Wells Fargo Svgs">
                            <a href="#">
                                <div class="col-lg-8 full-value">Wells Fargo Savings (5554)</div>
                                <div class="col-lg-4 text-align-right">$ 3,223.84</div>                     
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="payment-label">
                    Amount
                </div>
                <div class="payment-value">
                    <div class="input money">
                        $ <input type="money" placeholder="Enter amount" class="pay-amount" />
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="payment-label">
                    Delivery date
                </div>
                <div class="payment-value">
                    <form action="" class="smart-form" novalidate="novalidate">
                    <label class="input"> 
                        <input type="text" id="senddate" name="pay-date" placeholder="today">
                        <i class="icon-append fa fa-calendar"></i>
                    </label>
                    </form>
                </div>
            </div>
        </div>
        <div class="row buttons">
            <div class="col-lg-6 col-lg-offset-6 text-align-right">
                <a href="#/dashboard" class="btn btn-primary btn-payments cancel">Cancel</a>
                <a href="javascript:;" class="btn btn-primary btn-payments btn-cta lm-20">Pay it</a>
            </div>
        </div>
        <div class="row payment-history">
            <header class="payment-history--header">
                Payment History for Chase Sapphire
            </header>
            <table class="payment-history--table">
                <thead>
                    <th>
                        <a href="javascript:;">Date</a>
                    </th>
                    <th>
                        <a href="javascript:;">Type</a>
                    </th>
                    <th>
                        <a href="javascript:;">Amount</a>
                    </th>
                    <th>
                        <a href="javascript:;">Balance</a>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                    <tr>
                        <td>09/01/2013</td>
                        <td>Scheduled</td>
                        <td><a href="javascript:;">$428.54</a></td>
                        <td><a href="javascript:;">$29,524.22</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row buttons payment-history--buttons">
            <div class="col-lg-2 col-md-2 col-sm-3">
                <a href="javascript:;" class="btn btn-primary btn-payments more-history-trigger">More</a>
            </div>
        </div>
    </section>
    </div>
</div>
</section>
</div>