<section id="qpEnrollSetup" class="container">
	<div class="view quickpay col-lg-12">
	{{#enrollSetupForm}}
		<section class="row Description">
			{{enrollmentMessage}}
		</section>
		<section class="actions">
           {{#actions}}
              {{> "button" this}}
           {{/actions}}
		</section>
	{{/enrollSetupForm}}
	</div>
</section>