<div id="quickpay-content" class="clearfix">
    <!-- Payments Left Nav column placeholder-->
    <div id="inner-left-nav">
        <section id="inner-left-nav-container" class="container">
        </section>
    </div>

    <!-- INNER CONTENT column -->
    <div id="quickpay-inner-content">
        <section id="inner-content-container" class="container">
        </section>
    </div>
</div>