<section id="qpRequestConfirm" class="container ">

	<div class="view quickpay col-lg-12">
	   <div class="col-xs-offset-11 qp_printicon">
	      <i class="fa fa-print"></i>
	   </div>

	{{#if requestConfirmForm.success}}

	      <h2><i class="fa fa-check-circle"></i>You’ve requested money from {{requestConfirmForm.requestMoneyFrom.inputs.data.value}}. </br><p>Once {{requestConfirmForm.requestMoneyFrom.inputs.data.value}} sends you the money, you'll have 10 business days to accept it or we'll cancel the payment.</p>
	      </h2>

	{{/if}}

	  <div class="form">

	      {{#requestConfirmForm}}
	         <div class="row qpcolumn_one">
	            <section class="col-lg-4">
	               {{> "field" requestMoneyFrom}}
	            </section>

	            <section class="col-lg-4">
	               {{> "field" email}}
	            </section>

	            <section class="col-lg-4">
	               {{> "field" memo}}
	            </section>
	         </div>
	         <div class="row ">
	            <section class="col-lg-4">
	               {{> "field" amount}}
	            </section>

	            <section class="col-lg-4">
	               {{> "field" requestedBy}}
	            </section>

	            <section class="col-lg-4">
	                {{> "field" transactionNumber}}
	            </section>
	         </div>
	         <footer>

	            <section>
	               {{{confirmRequestMoneyAdvisory}}}
	            </section>

	            <div class="actions">
	               {{#actions}}
	                  {{> "button" this}}
	               {{/actions}}
	            </div>
	         </footer>
	      {{/requestConfirmForm}}
	   </div>
	</div>
</section>