<section id="qpRequestVerify" class="container">

<div class="view quickpay col-lg-12">
    <section class="qp_header row">

   <div class="col-lg-6">
			<ul class="menu horiz">
				<li id="qp_Sendmoney">{{send_money_label}}</li>
				<li id="qp_Requestmoney" class="selected">{{request_money_label}}</li>
			</ul>
		</div>

</section>

<div class="row col-lg-12 qp_para">
   <p>{{{verify_request_money_message}}}</p>
</div>

  <div class="form">

      {{#RequestVerifyForm}}
         <div class="row qpcolumn_one">
            <section class="col-lg-4">
               {{> "field" requestMoneyFrom}}
            </section>

            <section class="col-lg-4">
               {{> "field" email}}
            </section>

            <section class="col-lg-4">
               {{> "field" memo}}
            </section>
         </div>
         <div class="row">
            <section class="col-lg-offset-4 col-lg-4">
               {{> "field" amount}}
            </section>

            <section class="col-lg-4">
               {{> "field" requestedBy}}
            </section>
         </div>

         <footer>
             <div class="actions">
               {{#actions}}
                  {{> "button" this}}
               {{/actions}}
            </div>
         </footer>
      {{/RequestVerifyForm}}

      </div>
   </div>
</section>