<section id="qpMoneySent" class="container ">

	<section class="view quickpay">
		<div class="col-lg-3 column-sidenav"></div>
			<div class="col-lg-9 column-main">
				<section class="todo_icons">
					<i class="fa fa-print"></i>
					<i class="fa fa-align-justify"></i>
					<i class="fa fa-th"></i>
					<span class="filter_icon">Filter</span>
					<i  class="fa fa-times" id="close"></i>
				</section>

				<div>
					{{> "table" tabledata}}
			   		<center>
			   			{{#actions}}
						{{> "button" this}}
						{{/actions}}
			   		</center>
				</div>
			</div>
		</div>
	</section>
</section>






