<section id="qpSendConfirm" class="container ">

	<div class="view quickpay col-lg-12">
		<div class="col-xs-offset-11 qp_printicon">
			<i class="fa fa-print"></i>
		</div>

		{{#if sendConfirmForm.success}}
			<h2><i class="fa fa-check-circle"></i>{{sendConfirmForm.confirmSendMoneyMessage}}</h2>
		{{/if}}

	  	<div class="form">

			{{#sendConfirmForm}}
				<div class="row qpcolumn_one">
					<section class="col-lg-4">
						{{> "field" sendTo}}
					</section>

					<section class="col-lg-4">
						{{> "field" email}}
					</section>

					<section class="col-lg-4">
						{{> "field" payFrom}}
					</section>
				</div>
				<div class="row ">
					<section class="col-lg-2">
						{{> "field" amount}}
					</section>

					<section class="col-lg-2">
						{{> "field" sendOn}}
					</section>

					<section class="col-lg-4">
						{{> "field" memo}}
					</section>

					<section class="col-lg-4">
					    {{> "field" transactionNumber}}
					</section>
				</div>
				<footer>

					<section>
						{{{confirmSendMoneyAdvisory}}}
					</section>

					<div class="actions">
						{{#actions}}
							{{> "button" this}}
						{{/actions}}
					</div>
				</footer>
			{{/sendConfirmForm}}
		</div>
	</div>
</section>
