<section id="qpSendVerify" class="container">

<div class="view quickpay col-lg-12">
	<section class="qp_header row">

	<div class="col-lg-6">
		<ul class="menu horiz">
			<li class="selected" id="qp_Sendmoney">{{send_money_label}}</li>
			<li id="qp_Requestmoney">{{request_money_label}}</li>
		</ul>
	</div>

	</section>

	<div class="row col-lg-12 qp_para">
		<p>{{{verify_send_money_message}}}</p>
	</div>

	  <div class="form">

		{{#sendVerifyForm}}
			<div class="row qpcolumn_one">
				<section class="col-lg-4">
					{{> "field" sendTo}}
				</section>

				<section class="col-lg-4">
					{{> "field" email}}
				</section>

				<section class="col-lg-4">
					{{> "field" payFrom}}
				</section>
			</div>
			<div class="row">
				<section class="col-lg-offset-4 col-lg-2">
					{{> "field" amount}}
				</section>

				<section class="col-lg-2">
					{{> "field" sendOn}}
				</section>

				<section class="col-lg-4">
					{{> "field" memo}}
				</section>
			</div>
			<footer>

				<section>
					{{{verifySendMoneyAdvisory}}}
				</section>

				<div class="actions">
					{{#actions}}
						{{> "button" this}}
					{{/actions}}
				</div>
			</footer>
		{{/sendVerifyForm}}

		</div>
	</div>
</section>

