<section id="qpEnrollEntry" class="container">

	<div class="view quickpay col-lg-12">
		<section>
			<ol class="progressbar">
				<li class="active"><span>
						1
					</span>
				</li>
				<li><span>
						2
					</span>
				</li>
				<li><span>
						3
					</span>
				</li>
			</ol>
		</section>

		<header>
			{{initiate_quickpay_enrollment_header}}<sup>SM</sup>
		</header>

		<section class="col-lg-10">
			<section class="emailContainer">
				<h2>{{email_address_label}}</h2>
				<p class="information">{{email_address_advisory}}</p>

				<div id="container" class="manageEmail">
					{{#each emailAddresses}}

						{{#if showMultipleRows}}
							<div id="row" class="row">
								<div id="left" class="checkPrimary">
									<dl class="jpui field">
										<span>
											<input type="radio" id="primaryDesignation{{index}}" name="primary_designation" on-change="primary_designation_selected">
											<label for="primary">{{primary_label}}</label>
										</span>
									</dl>
								</div>
								<div id="middle" class="emailPrimary">
									{{#if isNoEmailInCis}}
										<dl class="jpui field">
											<dt>
												<label for="enrollEmail">{{email_address_label}} {{emailHeading}}</label>
											</dt>
											<dd class="text-field">
												<input type="text" name="email_address" value="{{emailAddress}}" class="textPrimary" on-keyup="email_address_entered">
											</dd>
										</dl>
									{{else}}
										<dl class="jpui field">
											<dt>
												<label for="CustomerEmail">{{email_address_label}} {{emailHeading}}</label>
											</dt>
											<dd class="select-field">
												<select name="email_address" class="selectPrimary" on-change="email_dropdown_selected">
													{{#each this.options}}
														<option id="{{this.id}}" value="{{this.id}}" selected="{{#if this.selected}}selected{{/if}}">{{this.title}}</option>
													{{/each}}
												</select>
												{{#if this.isAddEnabled}}
												<input type="text" name="email_address" value="{{emailAddress}}" class="textPrimary" on-keyup="email_address_entered">
												{{/if}}
											</dd>
										</dl>
									{{/if}}
								</div>
								<div id="right" class="deleteEmail">
									<div class="field">
										{{#if !this.primaryDesignation}}
										<a href="#" on-click="delete_email_click">{{delete_email_address_label}}</a>
										{{/if}}
									</div>
								</div>

							</div>
						{{else}}
							<div id="row">
								{{#if isNoEmailInCis}}
									<dl class="jpui field">
										<dt>
											<label for="enrollEmail">{{email_address_label}} {{emailHeading}}</label>
										</dt>
										<dd class="text-field">
											<input type="text" name="email_address" value="{{emailAddress}}" class="text" on-keyup="email_address_entered">
										</dd>
									</dl>
								{{else}}
									<dl class="jpui field">
										<dt>

											<label for="CustomerEmail">{{email_address_label}} {{emailHeading}}</label>

										</dt>
										<dd class="select-field">
											<select name="email_address" class="select" on-change="email_dropdown_selected">
												{{#each this.options}}
													<option id="{{this.id}}" value="{{this.id}}" selected="{{#if this.selected}}selected{{/if}}">{{this.title}}</option>
												{{/each}}
											</select>
											{{#if this.isAddEnabled}}
											<input type="text" name="email_address" value="{{emailAddress}}" class="text" on-keyup="email_address_entered">
											{{/if}}
										</dd>
									</dl>
								{{/if}}
							</div>
						{{/if}}
					{{/each}}
					<div id="setupAnotherEmailContainer" style="display: none;"><a href="#" on-click="add_email_click">{{add_money_transfer_profile_email_address_label}}</a></div>
			    </div>
			</section>

			<section class="mobileContainer">
				<h2>Mobile Number {{optional_label}}</h2>
				<p class="information">{{phone_number_advisory}}</br><a href="#">How does this work?</a></p>

				<div class="manageMobile">
					{{#each phoneNumbers}}
							<section id="middle">
								<dl class="jpui field">
								{{#if isNoMobileInCis}}
									<dt>
										<label for="enrollMobile">{{phone_number_label}}</label>
									</dt>
									<dd class="text-field">
										<section class="zipInput">
											<input type="text" class="text" name="phone_number1" on-keyup="mobile_phone_entered" maxlength="3"><span>-</span>
											<input type="text" class="text" name="phone_number2" on-keyup="mobile_phone_entered" maxlength="3"><span>-</span>
											<input type="text" class="text" name="phone_number3" on-keyup="mobile_phone_entered" maxlength="4">
										</section>
									</dd>
								{{else}}
									<dt>
										<label for="enrollMobile">{{phone_number_label}}</label>
									</dt>
									<dd class="select-field">
										<select name="phone_number" class="select" on-change="mobile_dropdown_selected">
											{{#each this.options}}
												<option id="{{this.id}}" value="{{this.id}}" selected="{{#if this.selected}}selected{{/if}}">{{this.title}}</option>
											{{/each}}
										</select>
										{{#if this.isAddEnabled}}
										<section class="zipInput">
											<input type="text" class="text" name="phone_number1" on-keyup="mobile_phone_entered" maxlength="3"><span>-</span>
											<input type="text" class="text" name="phone_number2" on-keyup="mobile_phone_entered" maxlength="3"><span>-</span>
											<input type="text" class="text" name="phone_number3" on-keyup="mobile_phone_entered" maxlength="4">
										</section>
										{{/if}}
									</dd>
								{{/if}}
								</dl>
							</section>
					{{/each}}
		    	</div>

		        <section class="disclouser">
		        	<div id="tcpaDisclouserContainer" style="display:none;">
		        	Thanks for trusting us with your mobile number. We'll only use it to call or text you about your accounts, and we'll never use it for telemarketing or sales calls. Your provider may charge you for texts, but there's no charge from us.
		        	</div>
		        </section>

		       <section class="finalize">
		       		<span>Please read the</span>&nbsp;
		       		<span>
		       			<a href="#">Chase QuickPay Service Agreement and Privacy Notice</a>
		       			<a href="#">Print a copy</a>
		       		</span>
		       </section>

		       	<section class="accept">
		       			<input type="checkbox" name="quickpay_enrollment_legal_acceptance" class="radio" on-change="agreement_checkbox_clicked" checked="{{#if quickpayEnrollmentLegalAcceptance}}true{{else}}false{{/if}}">
		       		<span>
		       			{{quickpay_enrollment_legal_acceptance_label}}
		       		</span>
		       	</section>

		       	<footer>
		            <div class="actions">
		            	<button class="jpui button" id="cancel_button" on-click="cancel_button_click">{{cancel_label}}</button>
						<button class="jpui button primary" id="next_button" on-click="next_button_click" disabled="true">{{next_label}}</button>
					</div>
	         	</footer>
			</section>
		</section>
	</div>
</section>