<div class="conversation-deck-message-footer">

	<!-- Initial footer state with link to show more messages -->
	<span id="conversation-deck-footer-initial">
		<a id="conversation-deck-messages-show-more" class="conversation-deck-message-action pull-left" href="#">{{show_more_messages_label}}</a>
	</span>

	<!-- Expanded footer state with links to hide the message list and dismiss all messages (initially hidden) -->
	<span id="conversation-deck-footer-more" class="dis-none">
		<a id="conversation-deck-messages-hide-all" class="conversation-deck-message-action pull-left" href="#">{{hide_all_messages_label}}</a>
		<a id="conversation-deck-messages-dismiss-all" class="conversation-deck-message-action pull-right" href="#">{{dismiss_all_messages_label}}</a>
	</span>

</div>