<div class="dis-none col-xs-8">
    <span id="conversation-deck-total-messages" class="conversation-deck-message-number pull-left"></span>
    <h2 id="conversation-deck-messages-header" class="conversation-deck-greeting-message actionable"></h2>
</div>
