<div class="site-message">
	<div class="site-message-brief-block">
	    <div class="site-message-brief">
	   		<button type="button" class="site-message-close large close icon">×</button>
	   		<span class="site-message-aler-icon">!</span>
	   		<!--TODO: remove the static text and add configure it from data model-->
	    	<!--<p>{{site_message_brief}}</p>-->
	    	<p><strong>Target is the victim of a massive breach...</strong></p>
	    	<p>If you used your Chase debit, Liquid or credit cards at a Target store between Nov. 27-Dec. 15, your accounts may be at risk.</p>
	    	<p><a class="site-message-expand">{{site_message_action_text}} &nbsp;&nbsp;&nbsp;&nbsp; &gt;</a><a class="site-message-collapse" style="display:none;">&lt;&nbsp;&nbsp; Back</a></p>
	    </div>
    </div>
	<div class="site-message-overlay" style="display:none;">
		<div class="site-message-full-block">
			<div class="site-message-full">
			<!--TODO: remove the static text and add configure it from data model-->
	    		<!--{{site_message_description}}-->
	    		<p><strong>Here’s what you need to know:</strong></p>
	    		<p>We’ll contact you by mail and e-mail right away if we believe your account has been compromised by the breach.</p>
<p>If your card is at risk, don’t worry. All your Chase cards have our Zero Liability Protection; you’re not responsible for paying any unauthorized transactions you report to us.</p>
<p>We use sophisticated fraud-monitoring tools to review account transactions and spot unusual spending and ATM patterns. This helps us stop fraudulent transactions.</p>
<p>&nbsp;</p>
<p><strong>Here’s what we’re doing:</strong></p>
<p>Defending against fraud is a top priority for us, so we’re taking additional precautions to help keep Chase accounts safe.</p>
<p>If your Chase debit or Liquid cards are at risk, we’ll temporarily reduce your limits on ATM cash withdrawals and purchases until we can replace your card.</p>
<p>If you need cash beyond these limits please visit a branch. With proper identification, you can access your available funds.</p>
<p>Chase credit card customers can continue to use their cards normally. These temporary debit and Chase Liquid card changes do not apply to the credit cards used at Target during the affected period.</p>
<p>&nbsp;</p>
<p><strong>Here’s what to do if we’ve told you your debit or Liquid card accounts are at risk:</strong></p>
<p>Employees at our 5,600 branches are standing by to help you if you need more cash than $250. With proper identification, you can access all your avail- able funds. Roughly half of our branches can issue you a new debit card on the spot. The new debit card won’t have the reduced limits described above.</p>
<p>To find a branch near you, visit our branch locator on chase.com. Branch locator also includes specific hours for each location, and information about which branches have instant issue capability – allowing you to replace your debit card and get a new pin in the branch.</p>
<p>Monitor your account using chase.com or Chase Mobile – for transactions you don’t recognize and contact us immediately for assistance.</p>
	    	</div>
    	</div>
    </div>
</div>

