<style type="text/css">
	iframe {
      border: none;
    }
</style>
<div class="desktop-detected">
    <div id="dashboard-content">
        <div id="mega-menu"></div>

        <!-- MAIN PANEL -->

        <div id="main" role="main">
            <div id="profile"></div>

			<!-- HEADER AREA -->

			<header id="header" style="height:auto;">
				<div id="top-header-content"></div>
			</header>

			<!-- MAIN CONTENT -->

			<main id="main-content">
				<div id="content" class="clearfix"></div>
			</main>

			<footer id="footer-content"></footer>
		</div>

        <!-- END MAIN PANEL -->
    </div>

    <div id="pre-loader">
        <div class="spinner"></div>
    </div>
    <div class="overlay"></div>
</div>
