<div class="account-activity-container">
		<div class=" col-lg-12 account-activity-header ">
		<div class="col-lg-6">
			<select id="statementPeriodOptions" class="transaction-select">
				{{#each this.statememtActivity}}
						<option value={{this.value}} id={{this.value}}>{{this.name}}</option>
					{{/each}}
			</select>
		</div>
		<div class="col-lg-6 pull-right checkfilter">
			<i class="fa fa-print"></i>
			<i class="fa fa-search"></i>
			<span>{{filter_by_label}}</span>
			<span class="vertical"></span>
			<i class="fa fa-search"></i>
			<span class="check">{{find_a_charge_label}}</span>
		</div>
	 </div>
</div>
