<div class="account-activity-container">
	{{#if transactions}}
	   <div class=" col-lg-12 account-activity-header">
	      <div class="col-lg-7">
	        <span class="pending-transactions-icon"><i class="fa fa-arrow-down"></i></span>
	        <span class="pending-transactions">{{transaction_group_pending_label}} ({{this.total_pending_transactions}})</span>
	      </div>
	    </div>
	    <table class="jpui grouped table account activity creditcard">
	      <thead>
	        <tr>
	          <th class="col-lg-1">Date</th>
	          <th>Description</th>
	          <th class="aligned right ">Amount</th>
	        </tr>
	      </thead>
	    	<tbody>
				{{#each transactions}}
					<tr class="{{this.class}}">
						<td class="date col-lg-1">{{this.transaction_initiation_date}}</td>
						<td class="{{this.cellClass}}">
						  {{this.transaction_description}}
						</td>
						<td class="{{this.cellClass}} {{#if this.possitive}}positive {{/if}}right text">{{this.transaction_amount}}</td>
					</tr>
				{{/each}}
	    	</tbody>
	  	</table>
	  	<br/>
  {{/if}}
</div>
