<div class="col-xs-12 no-padding accountdetails details-panel">
    <div class="col-xs-12">
        <div class="col-xs-12  action-bar no-grid-padding">
            <h3>{{{hel_account_interest_analysis_header}}}</h3>
        </div>
        <div class="col-xs-12 details-bar">
            <div class="col-sm-4">
                {{{interest_paid_in_current_year_label}}}
            </div>
            <div class="col-sm-6">
                {{{this.interestPaidInCurrentYear}}}
            </div>
            <div class="col-sm-4">
                {{{interest_paid_in_previous_year_label}}}
            </div>
            <div class="col-sm-6">
                {{{this.interestPaidInPreviousYear}}}
            </div>
        </div>
    </div>
</div>
