<div class="col-xs-12 no-padding accountdetails details-panel">
    <div class="col-xs-12 rate-locks accountdetails">
        <div class="col-xs-12  action-bar no-grid-padding">
            <h3>{{{hel_account_rate_locks_header}}}</h3>
        </div>
        <table class="jpui table">
            {{#if rate_locks}}
            <tr class="column-headers">
                <th>{{{loan_nickname_label}}}</th>
                <th>
                    <strong>{{{loan_original_amount_label}}}
                    </strong>
                </th>
                <th>
                    <strong>{{{loan_current_balance_label}}}
                    </strong>
                </th>
                <th class="">
                    <strong>{{{loan_amount_due_label}}}
                    </strong>
                </th>
                <th class="">
                    <strong>{{{loan_interest_rate_label}}}
                    </strong>
                </th>
                <th class="">
                    <strong>{{{loan_start_date_label}}}
                    </strong>
                </th>
                <th class="">
                    <strong>{{{loan_end_date_label}}}
                    </strong>
                </th>
            </tr>
            <tbody>
                {{#each rate_locks}}
                <tr class="">
                    <td class="">{{{loan_nickname}}}</td>
                    <td class="">{{{loan_original_amount}}}</td>
                    <td class="">{{{loan_current_balance}}}</td>
                    <td class="">{{{loan_amount_due}}}</td>
                    <td class="">{{{loan_interest_rate}}}</td>
                    <td class="">{{{loan_start_date}}}</td>
                    <td class="">{{{loan_end_date}}}</td>
                </tr>
                {{/each}}
            </tbody>
            {{/if}}

        </table>
    </div>
</div>
