<div class="col-xs-12 no-padding accountdetails details-panel">
    <div class="col-xs-12 ">
        <div class="col-xs-12  action-bar no-grid-padding">
            <h3>{{{loan_information_label}}}</h3>
        </div>
        <div class="col-xs-12 details-bar">
            <div class="col-sm-4">
                {{{property_address_label}}}
            </div>
            <div class="col-sm-6">
                {{this.addressLine1}}<br>
                {{{this.addressLine2}}}
                {{this.city}},
                {{this.state}}
                {{this.zipCode}}
            </div>
            <div class="col-sm-4">
                {{{original_appraisal_amount_label}}}
            </div>
            <div class="col-sm-6">
                {{this.originalAppraisalAmount}}
            </div>
            <div class="col-sm-4">
            	{{{interestTypeLabel}}}
            </div>
            <div class="col-sm-6">
            	{{this.interestType}}
            </div>

			<!-- BEGIN the tricky interest rate stuff -->
            <div class="col-sm-4">
                {{{interest_rate_label}}}
            </div>


            <div class="col-sm-6 ">
            	<span id="fixedRate">{{this.interestRate}}</span>
            	<span class="adjustableRate">{{this.variableInterestMargin}}<i>{{{variable_interest_margin_label}}}</i></span> <span class="margin-top-10 adjustableRate">{{{mathematical_symbol_plus_label}}}</span>
            	<span class="adjustableRate">{{this.variableInterestIndexRate}}<i>{{{variable_interest_index_label}}}</i></span> <span class="adjustableRate">=</span> <span class="adjustableRate"><b>{{this.interestRate}}</b><i>{{{interest_rate_label}}}</i></span>
            </div>

            <div class="col-sm-4">

            </div>
            <div class="col-sm-8">
            	<span class="adjustableRate bg-none">{{index_rate_advisory}}</span>
            </div>



			<div class="col-sm-4 adjustableRate">
            	{{{interest_rate_change_effective_date_label}}}
            </div>
            <div class="col-sm-6 adjustableRate">
            	{{this.interestRateChangeEffectiveDate}}
            </div>
            <div class="col-sm-4 adjustableRate">
            	{{{payment_change_effective_date_label}}}
            </div>
            <div class="col-sm-6 adjustableRate">
            	{{this.paymentChangeEffectiveDate}}
            </div>
            <div class="col-sm-4">
                {{{loan_origination_date_label}}}
            </div>
            <div class="col-sm-6">
                {{this.originalLoanDate}}
            </div>
            <div class="col-sm-4">
                {{{original_payoff_date_label}}}
            </div>
            <div class="col-sm-6">
                {{this.originalPayOffDate}}
            </div>
            <div class="col-sm-4">
                {{{original_loan_amount_label}}}
            </div>
            <div class="col-sm-6">
                {{this.originalLoanAmount}}
            </div>
            <div class="col-sm-4">
                {{{monthly_payments_label}}}
            </div>
            <div class="col-sm-6">
                {{{montly_payments_connector_label}}}
            </div>
            <div class="col-sm-4">
                {{{account_principal_balance_label}}}
            </div>
            <div class="col-sm-6">
                {{this.accountPrincipalBalance}}
            </div>
        </div>
    </div>
</div>