<div class="col-xs-12 no-padding mortgage-activity">
	<div class="col-lg-12 action-bar">
		<div class="col-lg-9 no-grid-padding">
			<span>{{{transaction_group_posted_label}}}</span>
		</div>
		<div class="col-lg-3 aligned right no-grid-padding">
			<a href="#" class="toggle-view" on-click="toggle_account_activity_display">{{this.toggleAccountActivityDisplay}}</a>
			<i class="fa print-icon fa-print"></i>
		</div>
	</div>
	<table id ="activity" class="mortgage-activity {{this.activityTableClassName}}">
		{{#if transactions}}
		<thead>
			<tr class="column-headers">
				<th>{{{this.transaction_posted_date_label}}}</th>
				<th><strong>{{{transaction_description_label}}}</strong></th>
				<th class="text aligned right">{{{transaction_amount_label}}}</th>
				<th class="detailed">{{{principal_payment_label}}}</th>
				<th class="detailed">{{{interest_payment_label}}}</th>
				{{#if this.hasEscrow}}
					<th class="detailed">{{{escrow_payment_label}}}</th>
				{{/if}}
				<th class="detailed">{{{transaction_fees_payment_label}}}</th>
				<!--use classes 'text aligned right' to align -->
				<th class="text aligned right">{{{principal_amount_balance_label}}}</th>
			</tr>
			</thead>
			<tbody>
			{{#each transactions}}
				<tr class="">
					<td class="description">{{this.transaction_posted_date}}</td>
					<td class="description">{{this.transaction_description}}{{#if this.check_number}}<div class="duedate align left">Check: #{{this.check_number}}</div>{{/if}}</td>
					<td class="amt emphasized">{{this.transaction_amount}}</td>
					<td class="detailed">{{this.principal_payment}}</td>
					<td class="detailed">{{this.interest_payment}}</td>
					{{#if this.escrow_payment}}
						<td class="detailed">{{this.escrow_payment}}</td>
					{{/if}}
					<td class="detailed">{{this.transaction_fees_payment}}</td>
					<td class="amt">{{this.principal_amount_balance}}</td>
				</tr>
			{{/each}}
			</tbody>
		{{/if}}
	</table>
	{{#if this.nextRowId}}
	<div class="aligned center">
		<a class="see-more" href="#" on-click="request_account_activity">{{{see_more_transactions_label}}}</a>
	</div>
	{{else}}
		{{#if this.error}}
			{{this.error}}
		{{else}}
			<div class="aligned center">
				<span class="see-more">{{{end_of_account_activity_label}}}</span>
			</div>
		{{/if}}
	{{/if}}
 </div>