<div id="{{dropdownId}}" class="jpui dropdown">
	<button class="jpui button js-trigger" on-click="toggle" on-keydown="trigger_keydown">
		<span class="accessible-text">opens menu, use arrow keys to navigate</span>
		{{label}}
		<i class="icon icon-down-expansion"></i>
	</button>
	<div class="list-container">
		<ul class="list" role="menu">
			{{#each items}}
				<li class="option {{#if disabled}}disabled{{/if}}" id="{{id}}" tabindex="0" on-click="list_option" role="presentation" on-keydown="option_keydown">{{name}}</li>
			{{/each}}
		</ul>
	</div>
</div>