<div>
<link rel="stylesheet" type="text/css" media="screen" href="dashboard/assets/myprofile.css">
<main id="my-profile" role="main" aria-labeledby="profile-section-header" class="inner-container profile-container my-profile">
	<div id="profile-header" class="profile-header">
		<div class="row">
			<div class="col-lg-11">
				<h1 id="profile-section-header" tabindex="-1">{{my_profile_section_header}}</h1>
			</div>
			<div  class="col-lg-1">
				<a role="button" id="exit_my_profile" href="#/dashboard" class="exit-profile close-icon">
					<i class="icon-close"><span class="accessible-text">{{exit_my_profile_image}}</span></i>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 no-grid-padding">
			<nav id="profile-menu-nav" class="sidenav" role="navigation" aria-labelledby="profile-menu-header">
				<h2 id="profile-menu-header" class="accessible-text">My Profile Menu</h2>
				<div id="profile-menu"></div>
			</nav>
		</div>
		<div class="col-lg-9 no-grid-padding profile-content">
			<div id="profile-details" role="region" aria-labelledby="profile-subtitle">
			</div>
		</div>
	</div>
</main>
</div>
