<div id='mailing-address-list-container' class='col-lg-12 section no-grid-padding'>
	<div class='row section-body'>
		<header id='mailing-address-header'>
		</header>
	</div>
	{{#if primaryAddress}}
		<div id='address-container-{{primaryAddress.id}}'>
		</div>
	{{/if}}
	{{#each secondaryAddresses}}
		<div id='address-container-{{id}}'>
		</div>
	{{/each}}
	{{#each temporaryAddresses}}
		<div id='address-container-{{id}}'>
		</div>
	{{/each}}
	<div id='add-address-container'>
	</div>
	<div id='investments-address-container'>
	</div>
</div>