<div class='row section-body'>
	<div class="col-lg-12 action-bar">
		<div class="col-lg-12 horizontal-divider no-grid-padding">
			<div class="col-lg-9 no-grid-padding">
				<h3 class="section-subheader">{{ mailing_address_category === 'TEMPORARY' ? 'Temporary ' : ''}}{{mailing_address_header}} {{#if mailing_address_category === "PRIMARY"}}<span class="section-subheader-itext">(Primary)</span>{{else}}{{counterLabel}}{{/if}}</h3>
			</div>
			<div class="col-lg-3 aligned right no-grid-padding">
				{{#if updateAllowed}}
					<a href="#" class="edit action-link" on-click="edit">Edit</a>
				{{/if}}
				{{#if deleteAllowed}}
					<a href="#" class="delete action-link {{#if updateAllowed}}vertical-divider{{/if}}" on-click="delete">Delete</a>
				{{/if}}
			</div>
		</div>

		{{#if mailing_address_category == "PRIMARY"}}
			<div class="col-lg-12 section-subtext no-grid-padding">{{mailing_address_instructions}}</div>
		{{/if}}
	</div>

	<div class="col-lg-12">
		<dl class="row">
			<dt class="col-lg-5">Mailing address</dt>
			<dd class="col-lg-7">
				{{#if mailing_address_line1}}
					<div>{{mailing_address_line1}}</div>
				{{/if}}

				{{#if mailing_address_line2}}
					<div>{{mailing_address_line2}}</div>
				{{/if}}

				{{#if mailing_address_line3}}
					<div>{{mailing_address_line3}}</div>
				{{/if}}

				{{#if city}}
					<div>{{city}}{{#if country === "USA"}},{{/if}} {{#if mailing_address_type !== "INTERNATIONAL"}}{{state}}{{/if}} {{zip_code}}{{#if zip_code_extension}}-{{zip_code_extension}}{{/if}}</div>
				{{else}}
					{{#if post_office_type}}
						<div>{{post_office_type}} {{state}} {{zip_code}}{{#if zip_code_extension}}-{{zip_code_extension}}{{/if}}</div>
					{{/if}}
				{{/if}}

				{{#if country != "USA" }}
					<div>{{country}}</div>
				{{/if}}

			</dd>

			{{#if mailing_address_effective_date}}
				<dt class="col-lg-5">Use this address</dt>
				<dd class="col-lg-7">
					<span class="dd-label-from">From</span> {{mailing_address_effective_date}} <span class="dd-label-to">To</span> {{mailing_address_end_date}} {{#if mailing_address_date_range_frequency}} <span class="dd-label-year">(Every year)</span> {{/if}}
				</dd>
			{{/if}}

			{{#if associatedAccounts.length}}
				<dt class="col-lg-5">{{mailing_address_linked_accounts_label}}<div id="contextual-help-container-{{id}}" class="display inline-block"></div>
				</dt>
				<dd class="col-lg-7 paddingright-0px">
					<div class="section-subtext horizontal-divider accounts-label">{{account_display_name_header}}</div>
					{{#each associatedAccounts}}
						<div class="accounts-item">{{mask}}</div>
					{{/each}}
				</dd>
			{{/if}}
		</dl>
	</div>
</div>