<div>
	<fieldset>
		<div class="confirmation-header">{{add_address_verification__header}}</div>
		<div class="confirmation-text row">
			<legend class="accessible-text">{{add_address_verification_advisory}}</legend>
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
				<p>{{add_address_verification_advisory}}</p>
			</div>
			<div class="col-lg-3"></div>

			<div class="verification-container row">

				<div class="left-align col-lg-6">
					<div class="float-right">
					<div class="jpui custom-radiobutton">
						<input type="radio" checked="checked" class="jpui radio accessible-text" value="{{radioButtons.systemRecommended.value}}" name="{{option}}" id="{{radioButtons.systemRecommended.inputId}}">
						<label for="{{radioButtons.systemRecommended.inputId}}">
							<div>
								<div>
								</div>
							</div>
							<span class="accessible-text">{{accessibleText}}</span>
							<span class="field-label">{{recommended_address_label}}</span>
						</label>
					</div>

					<div class="verification-address">
						{{recommended_postal_address}}

						<div>{{systemRecommended.line1}}</div>

						{{#if systemRecommended.line2}}
							<div>{{systemRecommended.line2}}</div>
						{{/if}}

						{{#if systemRecommended.line3}}
							<div>{{systemRecommended.line3}}</div>
						{{/if}}

						{{#if systemRecommended.type == "USA" }}
							<div>{{systemRecommended.city}}, {{systemRecommended.stateCode}} {{systemRecommended.zipcode}}</div>
						{{/if}}

						{{#if systemRecommended.type == "CANADA"}}
							<div>{{systemRecommended.city}} {{systemRecommended.stateCode}} {{systemRecommended.zipcode}}</div>
						{{/if}}

						{{#if systemRecommended.type == "INTERNATIONAL"}}
							<div>{{systemRecommended.city}} {{systemRecommended.zipcode}}</div>
							<div>{{systemRecommended.country}}</div>
						{{/if}}

						{{#if systemRecommended.type == "MILITARY"}}
							<div>{{systemRecommended.postOfficeType}} {{systemRecommended.stateCode}} {{systemRecommended.zipcode}}</div>
						{{/if}}
					</div>
					</div>
				</div>

				<div class="left-align col-lg-6">
					<div class="jpui custom-radiobutton">
						<input type="radio" class="jpui radio accessible-text" value="Yes" name="{{option}}" value="{{radioButtons.userEntered.value}}" id="{{radioButtons.userEntered.inputId}}">
						<label for="{{radioButtons.userEntered.inputId}}">
							<div>
								<div>
								</div>
							</div>
							<span class="accessible-text">{{accessibleText}}</span>
							<span class="field-label">{{customer_entered_address_label}}</span>
						</label>
					</div>

					<div class="verification-address">
						{{recommended_postal_address}}

						<div>{{userEntered.line1}}</div>

						{{#if userEntered.line2}}
							<div>{{userEntered.line2}}</div>
						{{/if}}

						{{#if userEntered.line3}}
							<div>{{userEntered.line3}}</div>
						{{/if}}

						{{#if userEntered.type == "USA"}}
							<div>{{userEntered.city}}, {{userEntered.stateCode}} {{userEntered.zipcode}}</div>
						{{/if}}

						{{#if userEntered.type == "CANADA" }}
							<div>{{userEntered.city}} {{userEntered.stateCode}} {{userEntered.zipcode}}</div>
						{{/if}}

						{{#if userEntered.type == "INTERNATIONAL" }}
							<div>{{userEntered.city}} {{userEntered.zipcode}}</div>
							<div>{{userEntered.country}}</div>
						{{/if}}

						{{#if userEntered.type == "MILITARY" }}
							<div>{{userEntered.postOfficeType}} {{userEntered.stateCode}} {{userEntered.zipcode}}</div>
						{{/if}}
					</div>
				</div>

			</div>

		</div>
	</fieldset>
	<div class="action-buttons">
		<button on-click="doNotAddAddress" id="do-not-add-address-button" class="jpui button secondary">Go back</button>
		<button on-click="addAddress" id="add-address-button" class="jpui button primary">Save</button>
	</div>
</div>