<nav class="jpui {{type}} menu">
	<ul class="level main-level">
	{{#items}}
		{{> 'submenu' this}}
	{{/items}}
	</ul>
{{!
	{
		id: <uuid>,
		classes: <string | array>,
		type: <string>,
		items:[{
			classes: <string | array>,
			label: <string>,
			url: <url>,
			items: [{
				classes: <string | array>,
				label: <string>,
				url: <url>
			}]
		}]
	}
/}}
</nav>
