<div id="main-add-payee-manual">
	<div id="main-add-payee-manual-content"  >

	<b><u>	Add a Payee via Ractive <br> Note</u> This is temporary template for testing </b>
<table>
<tr><td> payeeName </td> <td><input type="text" id="payeeName" value="{{payeeName}}"  name="payeeName" /></td></tr>
<tr><td> payeeNickname </td> <td><input type="text" id="payeeNickname" value="{{payeeNickname}}"  name="payeeNickname" /></td></tr>
<tr><td> mailingAddressLine1 </td> <td><input type="text" id="mailingAddressLine1" value="{{mailingAddressLine1}}"  name="mailingAddressLine1" /></td></tr>
<tr><td> mailingAddressLine2 </td> <td><input type="text" id="mailingAddressLine2" value="{{mailingAddressLine2}}"  name="mailingAddressLine2" /></td></tr>
<tr><td> city </td> <td><input type="text" id="city" value="{{city}}"  name="city" /></td></tr>
<tr><td> state </td> <td><input type="text" id="state" value="{{state}}"  name="state" /></td></tr>
<tr><td> zipCode </td> <td><input type="text" id="zipCode" value="{{zipCode}}"  name="zipCode" /></td></tr>
<tr><td> zipCodeExtension </td> <td><input type="text" id="zipCodeExtension" value="{{zipCodeExtension}}"  name="zipCodeExtension" /></td></tr>
<tr><td> phoneNumber </td> <td><input type="text" id="phoneNumber" value="{{phoneNumber}}"  name="phoneNumber" /></td></tr>
<tr><td> accountNumber </td> <td><input type="text" id="accountNumber" value="{{accountNumber}}"  name="accountNumber" /></td></tr>
<tr><td> confirmedAccountNumber </td> <td><input type="text" id="confirmedAccountNumber" value="{{confirmedAccountNumber}}"  name="confirmedAccountNumber" /></td></tr>
<tr><td> accountNumberAvailable </td> <td>

<input type="CHECKBOX" id="accountNumberAvailable"  checked="{{accountNumberAvailable}}"  name="accountNumberAvailable" />

</td></tr>

<tr><td> noteForPayee </td> <td><input type="text" id="noteForPayee" value="{{noteForPayee}}"  name="noteForPayee" /></td></tr>
<table>
<button id="submit-button" on-click="cancelAddPayee" value="Cancel" > Cancel</button>

<button on-click="verifyAddPayee" id="go" value="Submit Details">Submit Details</button>

	</div>
</div>