<div id="{{datepickerId}}" class="jpui datepicker">
	<input id="{{inputId}}" type="text"  value="{{inputValue}}"/>
	<a class="trigger icon" href="#"><i class="icon-calendar"></i></a>
	<div class="jpui calendars-container">
	</div>
</div>