<div id="dashboard-header">
	<div id="site-message-container"></div>
	<div id="header-container" class="blurred darkened" style="min-height:176px">

		<!-- TOP MENU -->

		<!--<div id="top-header-content" style="height:50px">-->

			<div id="div-header">
				<style type="text/css">
					.expanded{
						height:663px;
					}
				</style>
				<div class="jpui transparent navigation bar">
					<div class="container">
						<div class="row">
							<div class="col-xs-5" id="topmenu">
								<div id="logo-group" on-click="navigation" class="offcanvas left menu trigger">
									<i class="fa fa-bars"></i>
								</div>
								<div class="jpui separated left menu hide-xs show-md">
									<ul>

									{{#each navigation}}
										<li>
											<a target="_{{target}}" href="{{linkTo}}" class="main-nav-text">{{label}}</a>
										</li>
									{{/each}}

									</ul>
								</div>
							</div>
							<div class="col-xs-2"></div>
							<div class="col-xs-5" id="myinfomenu"></div>
						</div>
					</div>
				</div>
			</div>
		<!--</div>-->
		<div class="inner-container">

			<!-- CONVERSATION GREETING -->

			<div id="customer-greeting" class="conversation-deck-message-header"></div>

			<!-- convo deck message header -->

			<div id="convo-deck-message-header" class="conversation-deck-message-header"></div>

			<!-- convo deck primary search -->

			<div id="convo-deck-primary-search"></div>

		</div>

		<!-- convo deck messages -->

		<div class="inner-container clearfix">
			<div id="convo-deck-messages-container" class="conversation-deck-message-container dis-none">
				<ul id="convo-deck-messages" class="conversation-deck-message-group"></ul>
				<div id="convo-deck-message-footer"></div>
			</div>
		</div>

		<!-- PAYMENTS TAB -->

		<div id="pnt-tabs"></div>
	</div>
</div>
