<div>
     <div class="jpui simple right dropdown">
        {{fullName}} <i class="profile-cta-icon fa fa-user"></i> <i class="fa fa-caret-down"></i>
          <div class="menu">
            <div class="item" id="myProfile"><a id="profile-page-page" href="#" on-click="requestMyProfile">{{request_my_profile_navigation}}</a></div>
            <div class="item" id="logOut"><a href="#" on-click="logOutOnlineBanking"> <i class="fa fa-lock"></i>{{log_out_online_banking_navigation}}</a></div>
        </div>
      </div>
</div>
