<div  class="classic transparent fluid navigation bar">
	<span class="accessible-text">{{headerComponent.properties.headerAccessibilityBeginContent}}</span>
	<span><a href="{{headerComponent.properties.everyDayLivingUrl}}"><i class="fa fa-angle-left"></i>{{headerComponent.properties.everyDayLivingLabel}}</a></span>
	<span class="accessible-text">{{headerComponent.properties.headerAccessibilityEndContent}}</span>
</div>
