<li>
	{{#if url}}
		<a href="{{url}}">{{label}}</a>
	{{else}}
		<span class="label">{{label}}</span>
	{{/if}}
	{{#if items}}
		<ul class="level sublevel">
			{{#items}}
				{{> 'submenu' this}}
			{{/items}}
		</ul>
	{{/if}}
</li>
