<section id="payeeActivityDetailContent">
	<!-- No need for class="container" above as this view is essentially a subview -->
	<div>
		{{#payeeActivityDetailModule}}
			{{> "field" transactionStatus}}
			{{> "field" fundingAccountNumber}}
			{{> "field" memo}}
			{{> "field" submittedBy}}
			{{> "field" updatedBy}}
			{{> "field" approvedBy}}
			{{> "field" paymentId}}
		{{/payeeActivityDetailModule}}
	</div>
</section>
